:root {
  --text-size-xs: 0.56rem;
  --text-size-sm: 0.75rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.33rem;
  --text-size-xl: 1.78rem;
  --text-size-2xl: 2.37rem;
  --text-size-3xl: 3.16rem;
  --text-size-4xl: 4.21rem;
  --text-size-5xl: 5.61rem;
  --line-height-base: 1.65;
  --line-height-headings: 1.15;
  --line-length: 30rem;  /* max width of a line of text */
  --headings-family: "Bricolage Grotesque", sans-serif;
  --base-family: "Lexend", sans-serif;

  /* Color styles */
  --primary-text: rgba(48, 48, 48, 1);
  --primary-background: rgba(132, 206, 224, 1);
  --secondary-text: rgba(230, 138, 115, 1);
  --secondary-background: rgba(48, 48, 48, 1);
  --action: rgba(226, 70, 133, 1);
  --action-hover: hsl(336, 73%, 38%);
  --highlight: #B3F793;

  /* Spacing Units */
  --space-unit: 1rem;
  --space-xs: calc(var(--space-unit) * 0.25);
  --space-sm: calc(var(--space-unit) * 0.5);
  --space-md: calc(var(--space-unit) * 1);
  --space-lg: calc(var(--space-unit) * 1.5);
  --space-xl: calc(var(--space-unit) * 2);
  --space-xxl: calc(var(--space-unit) * 3);
  

}

html {
  font-size: 16px;
}
@media (min-width: 684px){
  :root{
    --line-length: 35rem;
  }
    html {
    font-size: 18px;
  }
}
@media (min-width: 1375px){
  :root{
    --line-length: 40rem;
  }
  html {
    font-size: 24px;
  }
}

body {
  font-family: var(--base-family);
  font-weight: false;
  line-height: var(--line-height-base);
  margin: 0;
  padding: 0;
  background-color: var(--primary-background);
  color: var(--primary-text);
}

p {
  font-size: var(--text-size-md);
  margin-bottom: 1rem;
}

a {
  color: var(--action);
}

a:hover {
  color: var(--action-hover)
}

a:visited {
  color: var(--action-hover)
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headings-family);
  font-weight: 700;
  line-height: var(--line-height-headings);
  margin-top: var(--space-xl);
  margin-bottom: var(--space-sm);
}

h1,
.text-size-h1 {
  margin-top: 0;
  font-size: var(--text-size-4xl);
}

h2,
.text-size-h2 {
  font-size: var(--text-size-3xl);
}

h3,
.text-size-h3 {
  font-size: var(--text-size-2xl);
}

h4,
.text-size-h4 {
  font-size: var(--text-size-xl);
}

h5,
.text-size-h5 {
  font-size: var(--text-size-lg);
}

.text-caption {
  font-size: var(--text-size-sm);
}

small,
.text-small {
  font-size: var(--text-size-xs);
}

figure {
  position: relative;
}

figure img {
  vertical-align: middle;
  /* remove gap below image */
}

.text-caption {
  margin: 0;
  padding: .5rem;
  position: absolute;
  bottom: -3px;
  right: 0;
  background-color: rgba(255, 255, 255, .8);
}

.intro {
  font-size: var(--text-size-lg);
}

.site-title {
  font-family: var(--headings-family);
  font-weight: 100;
  font-size: var(--text-size-xl);
}

/* basic responsive image css */
img,
video {
  max-width: 100%;
  height: auto;
}

.landmarks-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

figure {
  margin: 0;
}

.text-content {
  max-width: var(--line-length);
  margin: 0 auto;
  padding: 0.5rem;
}

/* --------------------------
Responsive video
-------------------------- */
.videoWrapper {
  position: relative;
  padding-top: 25px;
  height: 0;
  clear: both;
}

/* 16:9 aspect ratio wrapper */
.videoWrapper.ratio-16-9 {
  padding-bottom: 56.25%;
  /* 9 ÷ 16 = .5625 which is 56.25% */
}

/* 4:3 aspect ratio wrapper */
.videoWrapper.ratio-4-3 {
  padding-bottom: 75%;
  /* 3 ÷ 4 = .75 which is 75% */
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.featured-landmark {
  background-color: var(--highlight);
}

.featured-landmark picture {
  display: block;
  /* max-width: var(--line-length);
  margin: 0 auto; */
}

/* ------------
Cards
------------ */
.landmarks-grid {
  padding: 1rem;
}

.landmark {
  display: flex;
  flex-direction: column;
  /* padding:.5rem; */
  background-color: var(--secondary-background);
  color: var(--secondary-text);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(20, 20, 20, .4);
}

.landmark h3 {
  /* font-size: var(--text-size-lg); */
  padding: 1rem;
  margin: 0;
}

.video-tour {
  padding: 2rem 0
}

header {
  padding: 1rem;
}

footer {
  text-align: center;
  border-top: 1px solid #666666;
  margin-top: 3rem;
  padding-top: 2rem;
}

/* ------------
Styling for individual Landmark pages
------------ */
.landmark-page .intro{
  padding: 0 var(--space-sm);
  margin-inline: auto;
  max-width: var(--line-length);
}
.landmark-page .about{
  padding: 0 var(--space-sm);
  margin-inline: auto;
  max-width: var(--line-length);
}

.landmark-page .images-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-md)
}

.landmark-page figcaption{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color:rgba(255, 255, 255, .8);
  padding: var(--space-xs);
}
#pagination{
  display: flex;
  justify-content:space-between;
  max-width: var(--line-length);
  margin-inline: auto;
  margin-top: 2rem;
}

@media (min-width:684px){
  .landmark-page .images-grid{
    grid-template-columns: repeat(2, 1fr);
  }

}
@media (min-width:1375px){
  .landmark-page .images-grid{
    grid-template-columns: repeat(3, 1fr);
  }
  :root{
    --line-length:40rem;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

.intro p{
  font-size: var(--text-size-lg);
}